
*.vsidx
Inventory/.vs/Inventory/v17/.suo
*.vsidx
Inventory/.vs/Inventory/FileContentIndex/c6164466-fc45-488d-82a7-afc6c74f7c41.vsidx
Inventory/.vs/Inventory/FileContentIndex/4970338d-2812-4d7d-be32-ba79fb27d936.vsidx
Inventory/.vs/Inventory/FileContentIndex/1d07e3b4-4cf8-4131-95d3-4f3cde3f72a8.vsidx
Inventory/.vs/Inventory/FileContentIndex/0231b6d3-56fd-4fb3-bb9d-6cf73062c7b8.vsidx
Inventory/.vs/Inventory/DesignTimeBuild/.dtbcache.v2
Employee/.vs/Employee/FileContentIndex/b5cf8d89-cfd0-40ce-9db4-cd7fb1cffb5b.vsidx
Employee/.vs/Employee/FileContentIndex/8a28d5cc-2116-46b7-a1fe-5925a5cb4096.vsidx
Employee/.vs/Employee/FileContentIndex/6b14fd86-2fcd-48ff-b375-d01d7ba9c598.vsidx
Employee/.vs/Employee/FileContentIndex/5f9b9743-90eb-4faf-8037-7530d5dda19c.vsidx
